<div class="has-text-centered has-margin-bottom-medium">
    <!--[if lt IE 9]>
        <div class="notification is-danger has-margin-bottom-small">
            <strong>You're using an outdated browser!</strong><br>
            Upgrade your browser if you want to use this application.
        </div>
    <![endif]-->

    <noscript>
        <div class="notification is-danger has-margin-bottom-small">
            <strong>JavaScript is disabled!</strong><br>
            Please activate JavaScript in the settings of your browser or use a browser which supports JavaScript.
        </div>
    </noscript>

    <div id="app-cookies-disabled" class="notification is-danger has-margin-bottom-small" style="display: none">
        <strong>Cookies are disabled!</strong><br>
        This application requires cookies to store session informations. Please activate cookies in the settings of your browser.
    </div>
</div>
