{% extends 'base/intern.twig' %}



{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {% include 'includes/card_start.twig' %}
        <form action="?page={{ _app.page }}&action={{ _action }}" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">

            {{ forms.input_wrapped({
                'label': name,
                'help': name_help,
                'type': 'text',
                'name': 'name',
                'value': _name,
            }) }}

            {{ forms.textarea_wrapped({
                'label': public_key,
                'help': public_key_help,
                'name': 'public_key',
                'value': _public_key,
                'rows': 3,
                'is_required': true,
                'is_auto_resize': true
            }) }}

            {% include 'includes/cta.twig' with { '_back': { 'target': 'profile#tab-ssh-keys' }, '_confirm': true } %}
        </form>
    {% include 'includes/card_end.twig' %}
{% endblock %}

