{% extends 'base/base.twig' %}

{% block body_content %}
<main>
    <section class="hero is-primary is-fullheight is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-6-tablet is-offset-3-tablet is-6-desktop is-offset-3-desktop is-4-widescreen is-offset-4-widescreen is-4-fullhd is-offset-4-fullhd">

                        <div class="box has-dark-shadow">
                            <figure class="has-margin-y-medium">
                                {% if _whitelabel.banner_extern %}
                                    <div class="has-text-centered">
                                        <img src="{{ _whitelabel.banner_extern }}" style="max-height: 10rem" alt="logo">
                                    </div>
                                {% else %}
                                    <img src="theme/otd/assets/img/keyhelp.svg?{{ _app.cache_control }}" alt="logo">
                                {% endif %}
                            </figure>

                            {% include 'includes/events.twig' %}

                            <div class="has-margin-top-medium"></div>

                            {% block content %}{% endblock %}
                        </div>

                        <p class="has-text-centered is-size-7 has-text-grey-lighter">
                            {{ _whitelabel.footer ? _whitelabel.footer|raw : _app.footer|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}